body {
    background-image: url("../media/wallpaperv3.gif");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, p, label, button, a {
    font-family: 'Orbitron';
}

h1 {
    text-align: center;
    color: rgb(249, 24, 204);
    text-transform: uppercase;
    text-shadow: 1px 10px rgba(178, 15, 253, 0.651), 2px 20px rgba(9, 1, 255, 0.185);
}

main {
    margin-top: 5vw;
}



button {
    text-transform: uppercase;

    margin: 1vw;

    border: 1px solid rgb(42, 195, 0);
    background-color: rgba(0, 0, 0, 0.493);
    color: rgb(42, 195, 0);

    
}

button:hover {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0);
}

i {
    color: blueviolet;
    font-size: 5vw !important;

    padding: 0px 5px 0px 5px;

    cursor: pointer;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;

    margin: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}

input {
    display: none;
}

.material-icons {
    font-size: 50px;
}

.labelM0 {
    background-image: linear-gradient(135deg, #ff000094 0%, #ffffff42 50%);
    text-align: center;
}

.labelM0:hover {

    background-color: #ff000094;
    text-align: center;
}

.labelM1 {
    background-image: linear-gradient(35deg, #ffffff42 0%, #00e1ff94 50%);
    text-align: center;
}

.labelM1:hover {

    background-color: #00e1ff94;
    text-align: center;
}

.hideOnMode0 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    
    width: 100%;
    max-width: 300px;

    margin: 0 auto;

    flex-wrap: wrap;
}
a {
    font-size: 2vw;

    width: 100%;
    min-width: 300px;
    min-height: 100px;
}

.hideOnMode1 {
    display: none;
}

#s1 {
    background-image: linear-gradient(180deg, #00e1ff94, #00e1ff16);
    color: rgb(255, 0, 4);
}

#s2 {
    background-image: linear-gradient(180deg, #00ff11a8, #00ff1116);
    color: yellow;
}

#s3 {
    background-image: linear-gradient(180deg, #ff00008c, #ff000016);
    color: rgb(0, 110, 255);
}