aside, input {
    display: none;
}

nav, address {
    display: inherit;
}

html, body {
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    font-size: 1vw;
    font-family: 'Orbitron';
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items: center;

    background-image: url("../media/wallpaperv3.gif");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;

    color: rgb(249, 24, 204);
    text-shadow: 0.1vw 0.5vw rgba(178, 15, 253, 0.651), 0.2vw 1vw rgba(9, 1, 255, 0.185);
}

main {
    width: 30%;

    display: flex;
    flex-flow: column nowrap;
}

ul {
    margin: 0;
    padding: 0;

    width: 100%;

    list-style-type: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

li {
    flex-grow: 1;
}

i {
    text-align: center;

    width: 100%;
    height: 100%;

    color: blueviolet;
    font-size: 8rem !important;
    cursor: pointer;
}

address {
    width: 100%;
}

a {
    margin: 0;
    padding: 3vw 0;

    width: 100%;
    height: 100%;

    text-align: center;
    font-size: 2rem;
}

#s1 {
    background-image: linear-gradient(180deg, #00e1ff94, #00e1ff16);
    color: rgb(255, 0, 4);
}

#s2 {
    background-image: linear-gradient(180deg, #00ff11a8, #00ff1116);
    color: yellow;
}

#s3 {
    background-image: linear-gradient(180deg, #ff00008c, #ff000016);
    color: rgb(0, 110, 255);
}

footer {
    width: 30%;

    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: stretch;
}

form {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    margin: 0.2vw 0;
}

label {
    width: 50%;

    display: flex;
    justify-content: center;
}

#noCSSLabel {
    background-image: linear-gradient(90deg, #ff000094 0%, #ffffff42 100%);
}

#noCSSLabel:hover {
    background-color: #ff000094;
}

#SWCSSLabel {
    background-image: linear-gradient(90deg, #ffffff42 0%, #00e1ff94 100%);
}

#SWCSSLabel:hover {
    background-color: #00e1ff94;
}

button {
    margin-bottom: 0.2vw;

    font-size: inherit;
    font-family: inherit;
    text-transform: uppercase;

    color: rgb(42, 195, 0);
    background-color: rgba(0, 0, 0, 0.493);
    border: 0.1vw solid rgb(42, 195, 0);        
}

button:hover {
    background-color: rgba(0, 0, 0, 1);
    border: 0.1vw solid rgba(0, 0, 0, 0);
}


@media (max-width: 767px) {
    html, body {
        font-size: 4vw;
    }

    body {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /*min-height: 100vh; */
    }

    main, footer {
        width: 100%;
    }

    button, button:hover {
        padding: 5vw 0;
        border-width: 1vw;
    }

    label {
        padding: 5vw 0;
    }
}